@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: poppins,sans-serif;
    position: relaive;
    display: flex;
    background: linear-gradient(135deg, #a8c0ff, #3f2b96);
    justify-content: center;
    align-items: center;
    height: 100vh;
    

}

.clock{
    background-color: rgb(49, 47, 47);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: white;
    border: 5px solid white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 8px solid #e6e3ee;

}

 #marquee-container {
    margin: 30px 0;
    overflow: hidden;
}

#marquee-text {

    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 10px 0;
}

.clock ul li{
    list-style: none;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    inset: 5px;
} 

.clock ul li span{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}
.hand{
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hand span{
    width: 5px;
    height: var(--h);
    background-color: var(--clr);
    position: absolute;
    border-radius: 5px;
}

 /*#footer {
    justify-content: center;

    margin-bottom: 600px;
    font-size:40px;
    color: #ccc;
}*/